.hero {
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    border-bottom-left-radius: 7rem;
    border-bottom-right-radius: 7rem;
    position: relative;
}

.content-hero {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding-left: 20px;
    padding: 20px;
}

.content-hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #D14D72;
    line-height: 1.2;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.content-hero p {
    font-size: 1.5rem;
    color: #6D5D6E;
}

.content-hero .btn {
    padding: 14px 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: #D14D72;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 300px;
    margin: 5px 5px;
}

.content-hero .btn:hover {
    background-color: #D14D72;
    color: #fff;
}

.content-hero .btntwo {
    background-color: transparent;
    border: 2px solid #D14D72;
    color: #D14D72;
}

.content-hero .btntwo:hover {
    background-color: #fff;
    color: #D14D72;
}

.content-hero .small-text {
    font-size: 12px;
    cursor: pointer;
}


@media screen and(max-width: 768px) {
    .hero {
        background-image: url("../assets/preg.jpg");
        border-bottom-left-radius: 4rem;
        border-bottom-right-radius: 4rem;
    }

    .content-hero h2 {
        font-size: 2rem;
    }

    .content-hero p {
        font-size: 1rem;
    }

    .content-hero {
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        padding: 0px;
    }

    .content-hero .btn {
        width: 90%;
        max-width: none;
        padding-left: 12px;
        padding-right: 12px;
    }

}


@media screen and (max-width: 768px) {
    .hero {
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }

    .content-hero h2 {
        font-size: 1.5rem;
    }

    .content-hero p {
        font-size: 0.8rem;
    }

    .content-hero .btn {
        width: 100%;
        max-width: 200px;
        padding-left: 14px;
        padding-right: 14px;
        white-space: nowrap;
        font-size: 12px;
        font-weight: 300;
    }

    /* .content-hero {}
 */

}


/* 
.bg-hero {
    background: #fff;
    height: 100%;

}

Image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    z-index: -10;
    position: fixed;
} */


/* 
.hero {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    color: azure;
} */

/* 
.hero h1 {
    font-size: 70px;
    margin-top: 80px;
}

.hero p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
} */
/* 
.btn {
    width: 140px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
} */